@model ExpenseSystem.ViewModels.Report.IndexViewModel
@{
	ViewBag.Title = "Reporting system";
}

@section HeadContent {
    <script src="@Url.Content("~/Scripts/ExpenseSystem/Report.js")" type="text/javascript"></script>
}

@section BodyContent {
    @using (Html.BeginForm("Index", "Report", FormMethod.Post))
    {
    <div>
        <h2 id="chooseTagsLabel">Choose date range</h2>
        <span>Start date</span>&nbsp;
        @Html.TextBox("StartDate", Model.StartDate.ToString("MM/dd/yyyy"), new { @id = "startDate" })
        <span>End date</span>&nbsp;
        @Html.TextBox("EndDate", Model.EndDate.ToString("MM/dd/yyyy"), new { @id = "endDate" })
        <input type="submit" value="Generate" />
        <div class="error">
            @Html.ValidationMessageFor(a => a.StartDate)<br />
            @Html.ValidationMessageFor(a => a.EndDate)
            @Html.Hidden("SessionId", @Session.SessionID)
        </div>
    </div>
    }
    <div id="reportResult">
        @if (Model.ParentTagResult != null && Model.ParentTagResult.Children.Count > 0)
        {
        <ul id="tagsTree">
            @Html.Partial("ReportBranchPartial", Model.ParentTagResult.Children)                                                  
        </ul>
        }
    </div>
}